doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/jquery/jquery.js')
    script(src='/vendor/bootstrap/js/bootstrap.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='javascripts/script.js')
    script(src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
  body
    block content
