body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #d3d3d3;
}

a {
  color: #00B7FF;
}

.score {
  font-size:2em;
}

.score span {
  padding-left: .5em;
  display:block;
  height:180px;
}
